html {
    background-color: black;
    color: greenyellow;
    font-family: 'Andale Mono';
}
canvas {
    border: solid white 1px;
    background-color: black;
    position: absolute;
    top: 45px;
    left:400px
}
.inputs {
    border: solid white 2px;
    background-color: darkslategrey;
    width: 375px;

}
.error {
    color: red;
    border: solid red 2px;
    background-color: black;
    font-size: 25px;
    width: 375px;
}